/* src/components/ContentRow/ContentRow.css */

.content-row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3.75rem 0rem 8.75rem;
  position: relative;
}

.content-row__title {
  font: var(--heading-5-semibold);
  font-weight: 600;
  color: var(--color-fg-primary);
  letter-spacing: -0.0125rem;
}

.content-row__scroll {
  scroll-padding: 12.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  overflow-x: auto;
  overflow-y: visible;
  padding: 1rem 1rem 2.75rem;
  scroll-snap-type: x mandatory;
  scroll-margin-top: 5rem;
  scroll-margin-bottom: 1rem;
}

.content-row__scroll > * {
  scroll-snap-align: start;
}
